*{
  margin: 0;
  padding: 0;
  font-family: 'Poppins', sans-serif;
}
#videodiv{
  background-image: linear-gradient(rgba(0,0,0,0.5),#009688),url(https://img.freepik.com/free-photo/handsome-man-cutting-beard-barber-shop-salon_1303-20931.jpg?w=2000);
  height: 100vh;
  background-size: cover;
  background-position: center;
}
.videotext{
  text-align: center;
  color: white;
  padding-top: 180px;
}
.videotext h1{
  font-size: 140px;
  font-family: 'kaushan Script', cursive;

} 
.videotext p{
  font-size: 20px;
}
.videobanner{
  margin: 70px auto 0;
}
.videobanner a{
  width: 150px;
  text-decoration: none;
  display: inline-block;
  margin:  10px;
  padding: 12px 0;
  color: white;
  border: 1px solid white;
  z-index: 1;
  position: relative;
  transition: 1s;

}
.videobanner a span{
  width: 0;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background: white;
  z-index: -1;
  transition: 1s;

}
.videobanner a:hover span{
  width: 100%;

}
.videobanner a:hover{
  color: black;
}
#videonav{
  width: 250px;
  height: 100vh;
  position: fixed;
  right: -250px;
  top: 0;
  z-index: 2;
  transition: 1s;
  background-color: rgb(92, 89, 89);

}
nav ul li{
  list-style: none;
  margin: 50px 20px;
}
ul li a{
  text-decoration: none;
  color: white;
}
#menuvideo{
  width: 60px;
  height: 60px;
  text-align: center;
  position: fixed;
  right: 30px;
  top: 20px;
  border-radius: 3px;
  z-index: 3;
  cursor: pointer;
  background: #009688;
}
#menuvideo img{
  width: 35px;
  margin-top: 15px;
}
@media screen and (max-width: 770px){
  .videotext h1{
    font-size: 44px;
  
  } 
  .videobanner a{
    display: block;
    margin: 20px auto;
  }

}
#features{
  width: 100%;
  padding: 70px 0;

}
.title-text{
  text-align: center;
  padding-bottom: 70px;
}
.title-text p{
  margin: auto;
  font-size: 20px;
  color: #009688;
  font-weight: bold;
  position: relative;
  z-index: 1;
  display: inline-block;
   
}
.title-text p::after{
  content: '';
  width: 40px;
  height: 35px;
  background: linear-gradient(#019587, white);
  position: absolute;
  top: -15px;
  left: 0;
  z-index: -1;
  transform: rotate(10deg);
  border-top-left-radius: 35px;
  border-bottom-right-radius: 35px ;

}
.title-text h1{
  font-size: 50px;
}
.feature{
  width: 80%;
  margin: auto;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  text-align: center;
}
.left{
  flex-basis: 50%;
}
.left h1{
  text-align: left;
  margin-bottom: 10px;;
  font-weight: 100;
  color: #009688;
}
.right{
  flex-basis: 50%;
  margin: auto;
}
.right img{
  width: 70%;
  border-radius: 10px;
  background: linear-gradient(#009688, #fff);
}
.description{
  display: flex;
  align-items: center;
margin-bottom: 40px;
}
.van img{
  height: 40px;
  color: #009688;

}
.van{
  height: 50px;
  width: 80px;
  border: 1px solid #009688;
  text-align: center;
  border-radius: 8px;
  padding-top: 10px;

}
.car p{
  padding: 0 20px;
  text-align: initial;

}
@media screen and (max-width: 770px){
  .left h1{
    font-size: 35px;
  }
  .left{
    flex-basis: 100%;
  }
  .right img{
    width: 100%;
  }
}
#service{
  width: 100%;
  padding: 70px 0;
  background: #efefef;
}
.linesman{
  width: 80%;
  display: flex;
  justify-content: space-around;
  margin: auto;
  flex-wrap: wrap;
}
.line{
  flex-basis: 48%;
  text-align: center;
  border-radius: 7px;
  margin-bottom: 28px;
  color: #fff;
  position: relative;
}
.line img{
  width: 100%;
  border-radius: 10px;
}
.lay{
  width: 100%;
  position: absolute;
  height: 98%;
  top: 0;
  border-radius:7px;
  cursor: pointer;
  background: linear-gradient(rgba(0,0,0,0.5), #009688);
  opacity: 0;
  transition: 1s;
}
.line:hover .lay{
opacity: 1;
}
.vid{
  width: 80%;
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translate(-50%);
  opacity: 0;
  transition: 1s;
} 
hr{
  color: #fff;
  margin: 15px auto;
  height: 2px;
  width: 60%;
}
.vid p{
  font-size: 14px;
}
.line:hover .vid{
  bottom: 40%;
  opacity: 1;
}
@media screen and (max-width: 770px){
  hr{
    margin: 5px auto;
  }
  .line{
    flex-basis: 100%;
    margin-bottom: 30px;
  }
  .vid p{
    font-size:12px;
  }
  .line:hover .vid{
    bottom: 25% !important;
    
  }
}
#test{
  width: 100%;
  padding: 70px 0;
}
.row{
width: 80%;
margin: auto;
display: flex;
justify-content: space-between;
align-items: flex-start;
flex-wrap: wrap;
}
.column{
  flex-basis: 28%;
  padding: 10px;
  margin-bottom: 30px;
  border-radius: 5px;
  box-shadow: 0 10px 20px 3px #00968814;
  cursor: pointer;
  transition: 1s;
}
.column p{
  font-size: 14px;
}
.user{
  display: flex;
  align-items: center;
  margin: 10px 0;
}
.user img{
  width: 40px;
  height: 40px;
  margin-right: 20px;
  border-radius: 3px;
}
.don small{
  color: #009688;
}
.column:hover{
  transform: translateY(-7px);
}
@media screen and (max-width: 770px){
  .column{
    flex-basis: 100%;
  }
}
#footer{
  padding: 100px 20px;
  background: #efefefef;
  position: relative;
}
.footer-row{
  width: 80%;
  display: flex;
  justify-content: space-between;
  padding: 0 auto;
  flex-wrap: wrap;
  }
  .footer-left{
    flex-basis: 48%;
    padding: 10px;
    margin-bottom: 20px;
  }
  .footer-right{
    text-align: right;
    flex-basis: 48%;
    padding: 10px;
    margin-bottom: 20px;
  }
  .footer-row h1{
    margin: 10px 0;
  }
  .footer-row p{
    line-height: 35px;
  }
  .footer-img{
    opacity: 0.1;
    position: absolute;
    left: 35%;
    top: 10%;
    max-width: 370px;
  }
  .links{
    position: absolute;
    left: 35%;
    display: flex;
    flex-direction: row;
    top: 80%;
   }
  .links-image{
    height: 30px;
    width: 30px;
    margin: 40px 10px 0;
    color: #009688;
    cursor: pointer;
    line-height: 25px;
    border: 1px solid #009688;
    padding: 10px 10px;
    transition: 1s;
   
  }
  .links-image img{
    height: 30px;
    transition: 1s;
  }
  .links-image:hover{
    background: #009688;
    transform: translateY(-7px);
  }
  .links-image:hover img{
    opacity: 1;

  }